[Unit]
Description=Update USER Flatpaks

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --assumeyes --noninteractive

[Install]
WantedBy=default.target